<div class="row header">
    <div class="col-3 align-self-center">
        <div class="row">
            <div class="col-1 spacer"></div>
            <div class="col-10 g-5">
                <a href="{{ site.url }}{{ site.baseurl }}/index.html">
                    <img class="img-fluid" alt="uepal-logo"
                         src="{{ site.url }}{{ site.baseurl }}/assets/img/uepal-logo.svg"/>
                </a>
            </div>
            <div class="col-1">&nbsp;</div>
        </div>
    </div>
    <div class="col-8 align-self-center text-center"> <a style="text-decoration:none;color:inherit" href="{{ site.url }}{{ site.baseurl }}/index.html"><strong>Civiparoisse : Le blog<br/>Nouvelles et
        Astuces</strong></a></div>
    <div class="col-1"></div>
</div>
