$primary: #6f42c1;
$body-bg: #212529;
$body-color: #f8f9fa;
$mark-color: scale-color($primary,$lightness: 50%);
$mark-bg: $body-bg;
$headings-color: $primary;
$font-family-base: Luciole;
$font-weight-base: 500;
$font-size-base: 1.5rem;